<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="steam_idle_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="239450" value="Gun Monkeys" />
    <add key="268810" value="Paranormal State: Poison Spring" />
    <add key="247310" value="Gravi" />
    <add key="45500" value="Clickr" />
    <add key="32200" value="Metal Drift" />
    <add key="247830" value="Aerena - Clash of Champions - The Turn Based Arena Combat Game" />
    <add key="267060" value="Gravity Badgers" />
    <add key="242800" value="Day One : Garry's Incident" />
    <add key="243280" value="Poöf" />
    <add key="257120" value="Not The Robots" />
    <add key="223630" value="AirBuccaneers" />
    <add key="222730" value="Reus" />
    <add key="219740" value="Don't Starve" />
    <add key="20920" value="The Witcher 2: Assassins of Kings Enhanced Edition" />
    <add key="730" value="Counter-Strike: Global Offensive" />
    <add key="49520" value="Borderlands 2" />
    <add key="231160" value="The Swapper" />
    <add key="267420" value="app 267420" />
    <add key="107100" value="Bastion" />
    <add key="218680" value="Scribblenauts Unlimited" />
    <add key="43160" value="Metro: Last Light" />
    <add key="440" value="Team Fortress 2" />
    <add key="200260" value="Batman: Arkham City - Game of the Year Edition" />
    <add key="113020" value="Monaco: What's Yours Is Mine" />
    <add key="35140" value="Batman: Arkham Asylum Game of the Year Edition" />
    <add key="214560" value="Mark of the Ninja" />
    <add key="25800" value="Europa Universalis III Complete" />
    <add key="111900" value="Guardians of Middle-earth" />
    <add key="202090" value="Magicka: Wizard Wars" />
    <add key="260250" value="Blood of the Werewolf" />
    <add key="107200" value="Space Pirates and Zombies" />
    <add key="207080" value="Indie Game: The Movie" />
    <add key="42160" value="War of the Roses" />
    <add key="212680" value="FTL: Faster Than Light" />
    <add key="8930" value="Sid Meier's Civilization® V" />
    <add key="108710" value="Alan Wake" />
    <add key="204080" value="The Showdown Effect" />
    <add key="91310" value="Dead Island" />
    <add key="1250" value="Killing Floor" />
    <add key="244870" value="Electronic Super Joy" />
    <add key="224540" value="Ace of Spades: Battle Builder" />
    <add key="8870" value="BioShock Infinite" />
    <add key="220" value="Half-Life 2" />
    <add key="204360" value="Castle Crashers" />
    <add key="35450" value="Red Orchestra 2: Heroes of Stalingrad" />
    <add key="212480" value="Sonic &amp; All-Stars Racing Transformed" />
    <add key="105600" value="Terraria" />
    <add key="245070" value="app 245070" />
    <add key="201790" value="Orcs Must Die! 2" />
    <add key="55230" value="Saints Row: The Third" />
    <add key="92300" value="A.R.E.S.: Extinction Agenda" />
    <add key="550" value="Left 4 Dead 2" />
    <add key="200710" value="Torchlight II" />
    <add key="202170" value="Sleeping Dogs" />
    <add key="113200" value="The Binding of Isaac" />
    <add key="207610" value="The Walking Dead" />
    <add key="40800" value="Super Meat Boy" />
    <add key="38600" value="Faerie Solitaire" />
    <add key="3830" value="Psychonauts" />
    <add key="227560" value="Scourge: Outbreak" />
    <add key="214570" value="Ether Vapor Remaster" />
    <add key="255870" value="PixelJunk™ Shooter" />
    <add key="238890" value="Skyward Collapse" />
    <add key="63380" value="Sniper Elite V2" />
    <add key="266330" value="Ethan: Meteor Hunter" />
    <add key="204300" value="Awesomenauts" />
    <add key="259600" value="Finding Teddy" />
    <add key="203140" value="Hitman: Absolution™" />
    <add key="219640" value="Chivalry: Medieval Warfare" />
    <add key="205610" value="Port Royale 3" />
    <add key="215690" value="Zeno Clash 2" />
    <add key="269210" value="Hero Siege" />
    <add key="238210" value="System Shock 2" />
    <add key="262150" value="Vanguard Princess" />
    <add key="224460" value="Contrast" />
    <add key="239820" value="Game Dev Tycoon" />
    <add key="44350" value="GRID 2" />
    <add key="219150" value="Hotline Miami" />
    <add key="230650" value="Lords of Football" />
    <add key="294230" value="Millie" />
    <add key="48700" value="Mount &amp; Blade: Warband" />
    <add key="225220" value="NASCAR The Game: 2013" />
    <add key="251910" value="Solar Flux" />
    <add key="253650" value="Sparkle 2 Evo" />
    <add key="72850" value="The Elder Scrolls V: Skyrim" />
    <add key="242860" value="Verdun" />
    <add key="231430" value="Company of Heroes 2" />
    <add key="227300" value="Euro Truck Simulator 2" />
    <add key="258050" value="Survivor Squad" />
    <add key="203160" value="Tomb Raider" />
    <add key="34330" value="Total War: SHOGUN 2" />
    <add key="245620" value="Tropico 5" />
    <add key="243450" value="Urban Trial Freestyle" />
    <add key="251370" value="Escape Goat" />
    <add key="232790" value="Broken Age" />
    <add key="570" value="Dota 2" />
    <add key="236090" value="Dust: An Elysian Tail" />
    <add key="42910" value="Magicka" />
    <add key="620" value="Portal 2" />
    <add key="206420" value="Saints Row IV" />
    <add key="227100" value="Sniper Elite: Nazi Zombie Army" />
    <add key="72200" value="Universe Sandbox" />
    <add key="223670" value="F1 2013" />
    <add key="219890" value="Antichamber" />
    <add key="63710" value="BIT.TRIP RUNNER" />
    <add key="207370" value="eXceed - Gun Bullet Children" />
    <add key="214770" value="Guacamelee! Gold Edition" />
    <add key="222880" value="Insurgency" />
    <add key="261110" value="Killer is Dead - Nightmare Edition" />
    <add key="214870" value="Painkiller Hell &amp; Damnation" />
    <add key="218620" value="PAYDAY 2" />
    <add key="24240" value="PAYDAY™ The Heist" />
    <add key="263680" value="Unearthed: Trail of Ibn Battuta - Episode 1 - Gold Edition" />
    <add key="221380" value="Age of Empires II HD" />
    <add key="209080" value="Guns of Icarus Online" />
    <add key="247910" value="Sniper Elite: Nazi Zombie Army 2" />
    <add key="225260" value="Brutal Legend" />
    <add key="220440" value="DmC: Devil May Cry" />
    <add key="277430" value="Halo: Spartan Assault" />
    <add key="263420" value="Probably Archery" />
    <add key="49600" value="Beat Hazard" />
    <add key="238630" value="Fist Puncher" />
    <add key="233130" value="Shadow Warrior" />
    <add key="234900" value="Anodyne" />
    <add key="203770" value="Crusader Kings II" />
    <add key="242110" value="Joe Danger 2: The Movie" />
    <add key="239160" value="Thief" />
    <add key="209000" value="Batman™: Arkham Origins" />
    <add key="225600" value="Blade Symphony" />
    <add key="263740" value="FootLOL: Epic Fail League" />
    <add key="4000" value="Garry's Mod" />
    <add key="233720" value="Surgeon Simulator 2013" />
    <add key="212910" value="Call of Duty: Black Ops II - Zombies" />
    <add key="251150" value="The Legend of Heroes: Trails in the Sky" />
    <add key="270090" value="//N.P.P.D. RUSH//- The milk of Ultraviolet" />
    <add key="264280" value="99 Levels To Hell" />
    <add key="258090" value="99 Spirits" />
    <add key="209330" value="A Valley Without Wind" />
    <add key="207650" value="A Virus Named TOM" />
    <add key="224420" value="Afterfall Insanity Extended Edition" />
    <add key="40400" value="AI War: Fleet Command" />
    <add key="289090" value="Ampu-Tea" />
    <add key="217690" value="Anna - Extended Edition" />
    <add key="236730" value="Anomaly 2" />
    <add key="91200" value="Anomaly: Warzone Earth" />
    <add key="268200" value="Antisquad" />
    <add key="231720" value="Bad Hotel" />
    <add key="259390" value="Ballpoint Universe - Infinite" />
    <add key="269490" value="Bardbarian" />
    <add key="246800" value="BeatBlasters III" />
    <add key="238910" value="Bionic Dues" />
    <add key="218060" value="BIT.TRIP Presents... Runner2: Future Legend of Rhythm Alien" />
    <add key="80360" value="Blackwell Deception" />
    <add key="250340" value="Blockland" />
    <add key="258220" value="Blood Knights" />
    <add key="3020" value="Call of Juarez™" />
    <add key="204450" value="Call of Juarez® Gunslinger" />
    <add key="275490" value="Canyon Capers" />
    <add key="220460" value="Cargo Commander" />
    <add key="275470" value="Chip" />
    <add key="292570" value="Chompy Chomp Chomp" />
    <add key="282760" value="Circuits" />
    <add key="242780" value="Cognition: An Erica Reed Thriller" />
    <add key="238430" value="Contagion" />
    <add key="247020" value="Cook, Serve, Delicious!" />
    <add key="251170" value="Damned" />
    <add key="46750" value="Dark Fall: Lost Souls" />
    <add key="293880" value="Dark Scavenger" />
    <add key="300" value="Day of Defeat: Source" />
    <add key="303390" value="Dead Bits" />
    <add key="286040" value="Dead Effect" />
    <add key="216250" value="Dead Island Riptide" />
    <add key="211400" value="Deadlight" />
    <add key="264730" value="Deadly 30" />
    <add key="247660" value="Deadly Premonition: The Director's Cut" />
    <add key="18500" value="Defense Grid: The Awakening" />
    <add key="224600" value="Defiance" />
    <add key="96100" value="Defy Gravity Extended" />
    <add key="292910" value="Deponia: The Complete Journey" />
    <add key="70000" value="Dino D-Day" />
    <add key="230050" value="DLC Quest" />
    <add key="268830" value="Doctor Who: The Adventure Games" />
    <add key="248470" value="Doorways: Chapter 1 &amp; 2" />
    <add key="248650" value="Draw a Stickman: EPIC" />
    <add key="225140" value="Duke Nukem 3D: Megaton Edition" />
    <add key="218130" value="Dungeonland" />
    <add key="303410" value="Dysan the Shapeshifter" />
    <add key="91700" value="E.Y.E: Divine Cybermancy" />
    <add key="214550" value="Eets Munchies" />
    <add key="265610" value="Epic Battle Fantasy 4" />
    <add key="261700" value="Eryi's Action" />
    <add key="207380" value="eXceed 2nd - Vampire REX" />
    <add key="207400" value="eXceed 3rd - Jade Penetrate Black Package" />
    <add key="237430" value="Expeditions: Conquistador" />
    <add key="244690" value="Face Noir" />
    <add key="214590" value="Fairy Bloom Freesia" />
    <add key="233270" value="Far Cry 3 - Blood Dragon" />
    <add key="246840" value="FATE" />
    <add key="250560" value="Fight The Dragon" />
    <add key="223730" value="Fly'N" />
    <add key="249990" value="FORCED" />
    <add key="45450" value="Fortix 2" />
    <add key="301190" value="Frederic: Resurrection of Music" />
    <add key="249610" value="Galactic Arms Race" />
    <add key="216130" value="Gemini Wars" />
    <add key="253570" value="Gentlemen!" />
    <add key="223220" value="Giana Sisters: Twisted Dreams" />
    <add key="246960" value="Giana Sisters: Twisted Dreams - Rise of the Owlverlord" />
    <add key="216090" value="Go Home Dinosaurs!" />
    <add key="227480" value="God Mode" />
    <add key="265330" value="Gomo" />
    <add key="259640" value="Guise Of The Wolf" />
    <add key="241720" value="Guncraft" />
    <add key="70110" value="Hacker Evolution: Untold" />
    <add key="239070" value="Hammerwatch" />
    <add key="291190" value="Heroes of Steel: Tactics RPG" />
    <add key="250400" value="How to Survive" />
    <add key="300300" value="Ichi" />
    <add key="246980" value="InFlux" />
    <add key="278910" value="Interplanetary" />
    <add key="241320" value="Ittle Dew" />
    <add key="262260" value="Jets'n'Guns Gold" />
    <add key="255300" value="Journey of a Roach" />
    <add key="233230" value="Kairo" />
    <add key="203350" value="King's Bounty: Warriors of the North" />
    <add key="231740" value="Knights of Pen and Paper +1 Edition" />
    <add key="248190" value="Knytt Underground" />
    <add key="230700" value="La-Mulana" />
    <add key="266230" value="Last Dream" />
    <add key="262210" value="Last Knight: Rogue Rider Edition" />
    <add key="238280" value="Legend of Dungeon" />
    <add key="234980" value="Legends of Dawn" />
    <add key="250030" value="Lilly Looking Through" />
    <add key="262690" value="Little Racers STREET" />
    <add key="208090" value="Loadout" />
    <add key="226720" value="LOST PLANET® 3" />
    <add key="269270" value="Love" />
    <add key="218640" value="Lucius" />
    <add key="208600" value="Lunar Flight" />
    <add key="266010" value="LYNE" />
    <add key="58230" value="MacGuffin's Curse" />
    <add key="264340" value="Major Mayhem" />
    <add key="251850" value="Master Reboot" />
    <add key="268240" value="Mechanic Escape" />
    <add key="280140" value="Millennium - A New Hope" />
    <add key="209520" value="Mini Motor Racing EVO" />
    <add key="22100" value="Mount &amp; Blade" />
    <add key="264220" value="Mr. Bree+" />
    <add key="247370" value="Mutant Mudds Deluxe" />
    <add key="39800" value="Nation Red" />
    <add key="4920" value="Natural Selection 2" />
    <add key="246400" value="Nekro" />
    <add key="290650" value="A New Reckoning" />
    <add key="259740" value="Nightmares from the Deep: The Cursed Heart" />
    <add key="283290" value="Nosferatu: The Wrath of Malachi" />
    <add key="17710" value="Nuclear Dawn" />
    <add key="286320" value="Oknytt" />
    <add key="208520" value="Omerta - City of Gangsters" />
    <add key="252010" value="Oniken" />
    <add key="104900" value="ORION: Dino Horde" />
    <add key="239030" value="Papers, Please" />
    <add key="246300" value="Paranormal" />
    <add key="212700" value="Party of Sin" />
    <add key="289440" value="Perimeter" />
    <add key="105800" value="PixelJunk Eden" />
    <add key="243780" value="PixelJunk™ Monsters Ultimate" />
    <add key="254440" value="Pool Nation" />
    <add key="91900" value="Post Apocalyptic Mayhem" />
    <add key="223470" value="POSTAL 2" />
    <add key="224220" value="Pressure" />
    <add key="292620" value="Pressured" />
    <add key="235360" value="Prime World: Defenders" />
    <add key="108600" value="Project Zomboid" />
    <add key="286120" value="QuestRun" />
    <add key="301750" value="RADical ROACH Deluxe Edition" />
    <add key="279520" value="Rage Runner" />
    <add key="96300" value="Ravaged Zombie Apocalypse" />
    <add key="228300" value="Remember Me" />
    <add key="222480" value="Resident Evil Revelations / Biohazard Revelations UE" />
    <add key="222660" value="Retro/Grade" />
    <add key="93200" value="Revenge of the Titans" />
    <add key="301540" value="Rhythm Destruction" />
    <add key="258010" value="Ring Runner: Flight of the Sages" />
    <add key="217140" value="Rise of the Triad" />
    <add key="40300" value="Risen" />
    <add key="40390" value="Risen 2: Dark Waters" />
    <add key="248820" value="Risk of Rain" />
    <add key="241600" value="Rogue Legacy" />
    <add key="4760" value="Rome: Total War™" />
    <add key="102200" value="Runespell: Overture" />
    <add key="234490" value="Rush Bros." />
    <add key="210770" value="Sanctum 2" />
    <add key="227220" value="Sang-Froid - Tales of Werewolves" />
    <add key="203990" value="Satazius" />
    <add key="263320" value="Saturday Morning RPG" />
    <add key="45100" value="Secret of the Magic Crystals" />
    <add key="200910" value="Sequence" />
    <add key="41070" value="Serious Sam 3: BFE" />
    <add key="215770" value="Shad'O" />
    <add key="225160" value="Shadow Warrior Classic Redux" />
    <add key="2500" value="Shadowgrounds" />
    <add key="11200" value="Shadowgrounds Survivor" />
    <add key="286360" value="Shadows on the Vatican Act I: Greed" />
    <add key="102840" value="Shank 2" />
    <add key="244710" value="Shelter" />
    <add key="259510" value="Shufflepuck Cantina Deluxe" />
    <add key="244070" value="Sid Meier’s Ace Patrol" />
    <add key="244090" value="Sid Meier’s Ace Patrol: Pacific Skies" />
    <add key="204880" value="Sins of a Solar Empire®: Rebellion" />
    <add key="245170" value="Skullgirls" />
    <add key="228960" value="Skulls of the Shogun" />
    <add key="252330" value="Slender: The Arrival" />
    <add key="251690" value="Speedball 2 HD" />
    <add key="239350" value="Spelunky" />
    <add key="115110" value="Stacking" />
    <add key="46260" value="Star Wolves 3: Civil War" />
    <add key="209190" value="Stealth Bastard Deluxe" />
    <add key="283000" value="Strategic War in Europe" />
    <add key="209540" value="Strike Suit Zero" />
    <add key="235250" value="Super Sanctum TD" />
    <add key="234000" value="Superfrog HD" />
    <add key="295730" value="Sweezy Gunner" />
    <add key="280910" value="T.E.C. 3001" />
    <add key="236510" value="Takedown: Red Sabre" />
    <add key="234390" value="Teleglitch: Die More Edition" />
    <add key="237990" value="The Banner Saga" />
    <add key="65930" value="The Bureau: XCOM Declassified" />
    <add key="253110" value="The Cat Lady" />
    <add key="297020" value="The Culling Of The Cows" />
    <add key="215530" value="The Incredible Adventures of Van Helsing" />
    <add key="268540" value="The Whispered World Special Edition" />
    <add key="294140" value="They Breathe" />
    <add key="206440" value="To the Moon" />
    <add key="201420" value="Toki Tori 2+" />
    <add key="214360" value="Tower Wars" />
    <add key="46540" value="Trapped Dead" />
    <add key="271550" value="Tribloos 2" />
    <add key="35700" value="Trine Enchanted Edition" />
    <add key="35720" value="Trine 2: Complete Story" />
    <add key="57690" value="Tropico 4: Steam Special Edition" />
    <add key="252030" value="Valdis Story: Abyssal City" />
    <add key="244890" value="Velocity®Ultra" />
    <add key="300220" value="Victim of Xen" />
    <add key="264120" value="Victory: The Age of Racing" />
    <add key="290280" value="Volt" />
    <add key="252770" value="Vox" />
    <add key="263400" value="War of the Human Tanks" />
    <add key="203630" value="Warlock - Master of the Arcane" />
    <add key="288060" value="Whispering Willows" />
    <add key="72900" value="Winter Voices" />
    <add key="207420" value="Wizorb" />
    <add key="299460" value="Woodle Tree Adventures" />
    <add key="233840" value="Worms Clan Wars" />
    <add key="200170" value="Worms Revolution" />
    <add key="200510" value="XCOM: Enemy Unknown" />
    <add key="234290" value="Zack Zero" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="222940" value="THE KING OF FIGHTERS XIII STEAM EDITION" />
    <add key="284200" value="Robot Rescue Revolution" />
    <add key="227680" value="StarForge" />
    <add key="246700" value="Strike Vector" />
    <add key="212110" value="Sugar Cube: Bittersweet Factory" />
    <add key="271860" value="Super Killer Hornet: Resurrection" />
    <add key="277470" value="The Book of Legends" />
    <add key="283020" value="The Campaign Series: Fall Weiss" />
    <add key="283180" value="The Samaritan Paradox" />
    <add key="314570" value="The Sun at Night" />
    <add key="45760" value="Ultra Street Fighter® IV" />
    <add key="249330" value="Unholy Heights" />
    <add key="248970" value="Vector" />
    <add key="243120" value="Betrayer" />
    <add key="264240" value="CONSORTIUM" />
    <add key="264060" value="Full Bore" />
    <add key="305490" value="Heileen 3: New Horizons" />
    <add key="268220" value="Meltdown" />
    <add key="253350" value="Tiny Barbarian DX" />
    <add key="18820" value="Zero Gear" />
    <add key="260570" value="Gray Matter" />
    <add key="284950" value="Pixel Puzzles: Japan" />
    <add key="237590" value="R.I.P.D.: The Game" />
    <add key="292380" value="Racer 8" />
    <add key="277510" value="Shiny The Firefly" />
    <add key="224820" value="Super House of Dead Ninjas" />
    <add key="247240" value="Volgarr the Viking" />
    <add key="42140" value="Hamilton's Great Adventure" />
    <add key="308360" value="LogiGun" />
    <add key="98800" value="Dungeons of Dredmor" />
    <add key="263480" value="Final Rush" />
    <add key="263460" value="Girls Like Robots" />
    <add key="307070" value="Memories of a Vagabond" />
    <add key="222140" value="Puddle" />
    <add key="253470" value="Real World Racing" />
    <add key="257790" value="Riptide GP2" />
    <add key="297490" value="Spy Chameleon - RGB Agent" />
    <add key="315920" value="Stonerid" />
    <add key="40950" value="Stronghold HD" />
    <add key="307270" value="Super Lemonade Factory" />
    <add key="313360" value="The Maker's Eden" />
    <add key="209950" value="Triple Town" />
    <add key="291270" value="Vitrum" />
    <add key="264160" value="WazHack" />
    <add key="259830" value="Wooden Sen'SeY" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lang" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <steam_idle_gui.Properties.Settings>
      <setting name="TreeIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OrderIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="key" serializeAs="String">
        <value />
      </setting>
      <setting name="value" serializeAs="String">
        <value />
      </setting>
      <setting name="InvertBlacklist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>300, 300</value>
      </setting>
      <setting name="ValueCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SoundCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogCheck" serializeAs="String">
        <value>False</value>
      </setting>
    </steam_idle_gui.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>